* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: hsl(210, 46%, 95%);
  justify-content: center;
  align-content: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.item1 {grid-area: daniel;
background-color: hsl(263, 55%, 52%);
background-image: url("images/bg-pattern-quotation.svg");
background-repeat: no-repeat;
background-position: right top;
border-radius: 8px;
color: hsl(0, 0%, 81%);
}
.item2 {grid-area: jonathan;
background-color: hsl(217, 19%, 35%);
border-radius: 8px;
color: hsl(0, 0%, 81%);
}
.item3 {grid-area: jeanette;
background-color: hsl(0, 0%, 100%);
border-radius: 8px;
color: hsl(217, 19%, 35%);
}
.item4 {grid-area: patrick;
background-color: hsl(219, 29%, 14%);
border-radius: 8px;
color: hsl(0, 0%, 81%);
}
.item5 {grid-area: kira;
background-color: hsl(0, 0%, 100%);
border-radius: 8px;
color: hsl(217, 19%, 35%);
}

.grid-container {
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-areas:
      'daniel daniel daniel daniel jonathan kira'
      'jeanette patrick patrick patrick patrick kira';
    grid-gap: 20px;
    padding: 80px;
    margin: 40px;
    background-color: hsl(210, 46%, 95%);
}
.grid-container > div {
    text-align: left;
    padding: 25px 25px;
    line-height: 22px;
  }

  img {
    border-radius: 50px;
    border: 1px solid #fff;
    float: left;
    margin-right: 15px;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  
  .item4 img{
    border: 1px solid hsl(263, 55%, 52%);
  }

  .first , .second {
    display: flex;
    flex-direction: column;
    line-height: 18px;
    cursor: pointer;  
  }

  .first {
    font-weight: 600;
  }

  .second {
    color: hsl(0, 0%, 81%, 0.5);
  }

  .intro {
    font-weight: 600;
    font-size: 22px;
  }

  .quote {
    color: hsl(0, 0%, 81%, 0.7);
  }

  .item3 .second {
    color: hsl(217, 19%, 35%, 0.5);
  }

.item3 .quote {
  color: hsl(217, 19%, 35%, 0.7);
}

.item5 .second {
  color: hsl(217, 19%, 35%, 0.5);
}

.item5 .quote {
  color: hsl(217, 19%, 35%, 0.7);
}
